 # PyTorch الأساسي
torch>=2.0.0
torchvision>=0.15.0

# مكتبة الـ UNet
segmentation-models-pytorch>=0.3.0

# معالجة البيانات وتقسيمها
scikit-learn>=1.2.0
pandas>=2.0.0
tqdm>=4.65.0

# Keras/TensorFlow لحفظ المودل بصيغة H5
tensorflow>=2.14.0

# مكتبات إضافية للتعامل مع الملفات والصور
numpy>=1.25.0
glob2>=0.7